body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

header {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    height: 50px;
    margin-right: 15px;
    border-radius: 150px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-logout {
    background-color: #e74c3c;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-logout:hover {
    background-color: #c0392b;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    padding: 3rem;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.card:hover {
    transform: scale(1.03);
}

.card i {
    font-size: 2.5rem;
    color: #3498db;
    margin-bottom: 1rem;
}


footer {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
    margin-top: 20%;
}

footer .social-icons {
    display: relative;
    gap: 15px; /* Espacio entre los iconos */
}

footer .social-icons a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1da1f2;
}
