* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #007afc;
    background: url('/static/img/background.png') no-repeat center center fixed;
    background-size: cover;
    fill-opacity: 3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

header .logo img {
    width: 100px; /* Ajusta el tamaño según prefieras */
    height: 100px; /* Mantiene el logo proporcional */
    border-radius: 50%; /* Lo hace circular */
    opacity: 0.8; /* Opacidad inicial */
    transition: opacity 0.3s ease; /* Transición suave */
}

header .logo img:hover {
    opacity: 2; /* Se vuelve completamente nítido */
}


nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}
.button {
    padding: 10px 15px;
    color: white;
    background-color: #007bffb8;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
.saludo {
    background-color: rgba(0, 87, 179, 0.579); /* Fondo azul con transparencia */
    color: white; /* Asegura que el texto contraste bien */
    padding: 20px;
    margin: 20px;
    clip-path: polygon(0 15%, 15% 0, 70%);
    /* Crea una forma de rompecabezas o rombo */
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px; /* Espacio superior para la sección */
}

.hero .button-container {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio entre el párrafo y el contenedor de botones */
}

.hero .button {
    padding: 12px 24px;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #1a73e8; /* Color azul para el botón */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .button:hover {
    background-color: #1558b0; /* Azul más oscuro en hover */
}



footer {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
    margin-top: 20%;
}

footer .social-icons {
    display: relative;
    gap: 15px; /* Espacio entre los iconos */
}

footer .social-icons a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1da1f2;
}
