* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #007afc;
    background: url('/static/img/back2.png') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.779);
}

header .logo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

header .logo img:hover {
    opacity: 1;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}

.form-container {
    width: 350px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.516);
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #0057b3;
}

.form-container form div {
    margin-bottom: 15px;
}

.form-container input[type="submit"] {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.form-container a:hover {
    color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
    margin-top: 20%;
}

footer .social-icons {
    display: relative;
    gap: 15px; /* Espacio entre los iconos */
}

footer .social-icons a {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1da1f2;
}

